<!DOCTYPE html>
html(lang="en")
head
  title DevTips Starter Kit
  meta(charset="UTF-8")
  meta(name="viewport", content="width=device-width, initial-scale=1")
  link(rel="shortcut icon", href="./assets/img/favicons/favicon.ico")
  link(rel="stylesheet", href="assets/css/main.css")
body
  .page-home
    section
      h1.page-title DevTips<br>Starter Kit
      p Ground zero for your next project.
      a.button.button-download(href="https://github.com/DevTips/DevTips-Starter-Kit/archive/master.zip") Download Now
      a.fork-tag(href="https://github.com/DevTips/DevTips-Starter-Kit") Fork Me on GitHub
    section
      article
        h4 Watch the Video
        .flex-video-wrap
          .flex-video
            iframe(src="https://www.youtube.com/embed/F3u7whqIxrc?rel=0&amp;controls=0&amp;showinfo=0", frameborder="0", allowfullscreen="true")
      article
        p Brought to you by
        .name-lockup
          img.avatar(src="https://yt3.ggpht.com/-47U43a3eNW0/AAAAAAAAAAI/AAAAAAAAAAA/fWgb7mKcn6k/s176-c-k-no/photo.jpg")
          .name
            strong Travis Neilson
            br
            a(href="https://twitter.com/DevTipsShow") @DevTipsShow
    pre.
      DevTips-Starter-Kit
      | -- assets/
      |   | -- css/
      |   |   | -- 1-tools/
      |   |   |   | -- bourbon/
      |   |   |   | -- fonts.sass
      |   |   |   | -- normalize.sass
      |   |   |   | -- vars.sass
      |   |   | -- 2-basics/
      |   |   |   | -- body-elements.sass
      |   |   |   | -- links.sass
      |   |   |   | -- selection-colors.sass
      |   |   |   | -- typography.sass
      |   |   | -- 3-modules/
      |   |   |   | -- example-module.sass
      |   |   |   | -- example-module.sass
      |   |   | -- 4-pages/
      |   |   |   | -- example-page.sass
      |   |   | -- main.sass
      |   | -- js/
      |   |   | -- jquery.js
      |   |   | -- functions.js
      |   | -- img/
      | -- favicon.ico
      | -- readme.md
      | -- index.html
  script(src="./vendors/jquery/dist/jquery.min.js")
  script(src="./assets/js/app.js")
